{% extends 'base.html'%}
{%block content%}

<table>
    <tr>
      <th>书名</th>
      <th>出版时间</th>
      <th>出版社</th>
    </tr>
    {%for i in book_publisher%}
    <tr>
        <td>{{i.title}}</td>
        <td>{{i.publication_date|date}}</td>
        {%if publisher%}
           <td>{{publisher}}</td>
        {%endif%}

    </tr>
    {%endfor%}
</table>
{%for i in bookdetail%}
<p>{{i.title}}</p>     
<p>{{i.publication_date}}</p>
{% comment %}{%if book_model%}
<p>{{book_model.title}}</p>
<p>{{book_model.publication_date}}</p>
{%endif%}{% endcomment %}
{%endfor%}
{%endblock%}